* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

.modules-left {
    background-color: #1c1c1c;
    border-radius: 5px;
    padding: 0 15px;
    min-width: 620px;
}

.modules-right {
    background-color: #1c1c1c;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 15px;
    min-width: 620px;
}

#network {
    color: #ffffff;
    margin-right: 15px;
}

#network.disconnected {
    color: #ff0000;
}

#bluetooth {
    color: #ffffff;
    margin-right: 15px;
}

#bluetooth.disabled {
    color: #ff0000;
}

#cpu {
    color: #ffffff;
    margin-right: 15px;
}

#memory {
    color: #ffffff;
    margin-right: 15px;
}

#disk {
    color: #ffffff;
    margin-right: 100px;
}

#pulseaudio {
    color: #ffffff;
    margin-right: 15px;
}

#pulseaudio.muted {
    color: #ff0000;
}

#battery {
    color: #ffffff;
    margin-right: 15px;
}

#battery.charging {
    color: #0080ff;
}

#battery.discharging.0-10 {
    color: #ff0000;
}

#battery.discharging.10-20 {
    color: #ff4500;
}

#battery.discharging.20-30 {
    color: #ff6600;
}

#battery.discharging.30-40 {
    color: #ff8800;
}

#battery.discharging.40-50 {
    color: #ffaa00;
}

#battery.discharging.50-60 {
    color: #ffcc00;
}

#battery.discharging.60-70 {
    color: #ffff00;
}

#battery.discharging.70-80 {
    color: #ccff00;
}

#battery.discharging.80-90 {
    color: #99ff00;
}

#battery.discharging.90-100 {
    color: #66ff00;
}

#custom-arch {
    color: #ffffff;
}
